#isum {float:right;margin:5px;text-align:right;}
#aisum {text-decoration:none;font-weight:bold;margin:2px;border:0px 2px;padding:2px 6px;font: normal normal normal 12px/normal Arial, Helvetica, sans-serif;}
#sumdiv {position:absolute; top:10%;left:6%;width:88%;height:80%;display:none;}
#sumdiv {z-index: 1;background-color:white;overflow:auto;border:5px solid #95B3D7;padding:3px;}

